 :root {
    --side-bar-bg-color: #d9ede5;
	--control-text-color: #6B6B6B;
	--active-file-bg-color: #ecf6f2;
	--active-file-border-color: #6B6B6B;
	--active-file-text-color: #202020;
	--table-even-row-color:#f8fcfa;
	--table-head-color:#d9ede5;
	--deep-theme-color: #4eb289;
	--code-block-bg-color: #0F111A;

	
}

/*serif*/
@font-face {
    font-family: 'Lexend';
    font-weight: normal;
    font-style: normal;
    src: url('./mint/Lexend-Regular.ttf') 
}

@font-face {
    font-family: 'Lexend';
    font-weight: bold;
    font-style: normal;
    src: url('./mint/Lexend-Bold.ttf') 
}

/*monospace*/
@font-face {
    font-family: 'SourceCodePro';
    font-weight: normal;
    font-style: normal;
    src: local(SourceCodePro), url('./mint/SourceCodePro-Regular.ttf')
}

/*Chinese*/
@font-face {
    font-family: 'NotoSansSC';
    font-weight: normal;
    font-style: normal;
    src: url('./mint/NotoSansSC-Regular.otf')
}

@font-face {
    font-family: 'NotoSansSC';
    font-weight: bold;
    font-style: normal;
    src: url('./mint/NotoSansSC-Bold.otf')
}

html{
	font-size: 16px;
}

body {
    font-family: 'Lexend','SourceCodePro','NotoSansSC';
	font-weight: normal;
	line-height: 1.5rem;
	letter-spacing: 0;
    margin: 0;
}

#write {
	max-width: 900px;
    padding: 30px 50px 20px;
}

#write p{
	text-align:left;
}

#write pre.md-meta-block {
	padding: 1rem;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border: 0;
	border-radius: 3px;
	color: #777777;
	margin-top: 0 !important;
}

.md-image>.md-meta {
    color: #777777;
    font-size: 0.9rem;
	font-family: 'Lexend';
    padding: 4px 0;
}


@media print {
  html,body {
    font-size: 14px;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  pre {
    word-wrap: break-word;
  }
  
}
@page {
  size: A4; 
  margin: 8mm 0mm;
}

/*toc*/
.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
	color: var(--deep-theme-color);
}

a {
	color: var(--deep-theme-color);
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*headers*/
h1,h2,h3,h4,h5,h6 {
	display: block;
	font-weight:bold;
}

h1 {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

h3 {
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}

h5 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	color: #777777;
}

h6 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	color: #adadad;
}

p,
blockquote,
ul,
ol,
dl,
table {
	margin: 0.8rem 0;
}

/*table*/
table {
	border-collapse: collapse;
	padding: 0;
    word-break: initial;
	table-layout: fixed;
	width: 100%;
}

table tr:nth-child(even){
    background-color: var(--table-even-row-color);
}

thead{
	background-color: var(--table-head-color);
}

table th{
	text-align: center;
	padding:6px 13px;
	border: 1px solid var(--table-head-color);
}

table td{
	padding:6px 13px;
	border: 1px solid var(--table-head-color);
}
table tr{
	padding:6px 13px;
	border: 1px solid var(--table-head-color);
}

/*blockquote*/
blockquote {
	border-left: 0.2rem solid var(--side-bar-bg-color);
	color: #777777;
	font-family: 'Lexend','NotoSansSC';
	font-size: 0.9rem;
	padding-left: 2rem;
}


/*list*/

li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

.md-task-list-item:hover > input:before,
input[type='checkbox']:hover:before {
	opacity: 1;
	transition: 0.5s;
	background-color: var(--side-bar-bg-color);
}

.task-list-item input::before {
    content: "";
    display: inline-block;
	border-radius: 1.1rem;
    vertical-align: middle;
    border: 1.2px solid var(--deep-theme-color);
    background-color: #ffffff;
	width: 1.1rem;
    height: 1.1rem;
	margin-left: -0.1rem;
    margin-right: 0.1rem;
    margin-top: -0.68rem; 
}


.task-list-item input:checked::before {
    padding-left: 0.125em;
    content: '✔';
    color:white;
	background-color: var(--deep-theme-color);
    font-size: 0.8rem;
    line-height: 0.95rem;
    margin-top: -0.68rem;
	transition: background-color 200ms ease-in-out;
}



.task-list-done {
    text-decoration: line-through;
    color: #adadad;
}

hr {
	border-style: none;
    border-top-style: solid;
    border-color: #e7e7e7;
    border-width: 1px;
	margin: 2rem 0;
}


/*highlight*/
#write mark {
	background-color: #c7ffe8;
	border-radius: 2px;
	color: black;
	padding: 0 4px;
	margin: 0 2px;
}

/*inline code*/
#write code,tt {
	padding: 0.6px 4px;
	border-radius: 2px;
	background-color: #f1f1f1;
	font-family: 'SourceCodePro',Consolas,Courier, Monospace !important,宋体;
	font-size: 0.9rem;
	color: var(--code-block-bg-color);
	margin: 0 2px;
}

/*footnote*/
#write .md-footnote {
	color: #777777;
	background-color: #f7f7f7;
}

/*source code mode*/
.cm-s-typora-default .cm-header {
	color:var(--code-block-bg-color);
}
.cm-s-typora-default .cm-link {
	color:var(--deep-theme-color);

}


/*code block*/
#write .md-fences {
    font-size: 1rem;
    margin: 0.2em 0;
    padding: 0.5em;
    border-radius: 3px;
	font-size: 0.9em;
    font-family: 'SourceCodePro',Consolas,Courier, Monospace !important,宋体;
    background-color: var(--code-block-bg-color);
    color: #A9B7C6;
    border: none;
	text-shadow: none;
}

.md-fences .code-tooltip {
	background-color: var(--code-block-bg-color);
}

/*
  Name:       material-ocean
  Author:     Mattia Astorino (http://github.com/equinusocio)
  Website:    https://material-theme.site/
*/

.cm-s-inner.CodeMirror {
  background-color: #0F111A;
  color: #8F93A2;
}

.cm-s-inner .CodeMirror-gutters {
  background: #0F111A;
  color: #464B5D;
  border: none;
}

.cm-s-inner .CodeMirror-linenumber {color: #464B5D;}
.cm-s-inner .CodeMirror-guttermarker { color: #FFEE80; }
.cm-s-inner .CodeMirror-guttermarker-subtle { color: #D0D0D0; }

/*
.cm-s-inner .CodeMirror-cursor {
  border-left: 1px solid #FFCC00;
}
.cm-s-inner.cm-fat-cursor .CodeMirror-cursor {
  background-color: #FFCC00 !important;
}
.cm-s-inner .cm-animate-fat-cursor {
  background-color: #FFCC00 !important;
}
*/

.cm-s-inner .CodeMirror-cursor { border-left: 1px solid #A9B7C6; }
.cm-s-inner div.CodeMirror-cursor { border-left: 1px solid #ffffff; }
.cm-s-inner div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}

.cm-s-inner .CodeMirror-selected{ background: #214283 !important; }
.cm-s-inner .CodeMirror-selectedtext { background: #214283 !important; }
.cm-overlay.CodeMirror-selectedtext { background: #B5D6FC !important; }

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-inner .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.5);
}

.cm-s-inner .cm-keyword {
  color: #C792EA;
}

.cm-s-inner .cm-operator {
  color: #89DDFF;
}

.cm-s-inner .cm-variable-2 {
  color: #EEFFFF;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #f07178;
}

.cm-s-inner .cm-builtin {
  color: #FFCB6B;
}

.cm-s-inner .cm-atom {
  color: #F78C6C;
}

.cm-s-inner .cm-number {
  color: #FF5370;
}

.cm-s-inner .cm-def {
  color: #82AAFF;
}

.cm-s-inner .cm-string {
  color: #C3E88D;
}

.cm-s-inner .cm-string-2 {
  color: #f07178;
}

.cm-s-inner .cm-comment {
  color: #585d6d;
}

.cm-s-inner .cm-variable {
  color: #f07178;
}

.cm-s-inner .cm-tag {
  color: #FF5370;
}

.cm-s-inner .cm-meta {
  color: #FFCB6B;
}

.cm-s-inner .cm-attribute {
  color: #C792EA;
}

.cm-s-inner .cm-property {
  color: #C792EA;
}

.cm-s-inner .cm-qualifier {
  color: #DECB6B;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #DECB6B;
}


.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #FF5370;
}

.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}


